.table thead th  {
    background-color: #01A9C8;
    color: white;
}
.table tbody td {
    background-color: #E9F6F9;
}

.registrar{
    background-color: #E9F6F9;
    border: 2px solid #E9F6F9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0 ;
}
.registrar:hover{
    background-color: #d2f1f8;
    border-color: #d2f1f8;
}


